extends includes/layout.pug

block content
	h4 Create Booking
	p.text-muted Book a set of items for a certain period.

	form#booking-form(novalidate)
		h6.mb-3 Details

		.row
			.col-lg.mb-3
				label.form-label(for='booking-name') Full Name
				input#booking-name.form-control(type='text', name='name', required)
				.invalid-feedback Please enter a name.

			.col-lg.mb-3
				label.form-label(for='booking-email') Email
				input#booking-email.form-control(type='email', name='email', required)
				.invalid-feedback Please enter a valid email address.

			.col-lg.mb-3
				label.form-label(for='booking-user') Teacher
				select#booking-user.form-select(type='email', name='user_id', required)
					option(value='-1', selected) n/a
					each user in users
						unless user.hidden
							option(value=user.id)=user.name

		.row
			.col-lg.mb-3
				label.form-label(for='booking-start') Start Date
				input#booking-start.form-control(type='datetime-local', name='start_date', min=dates[0], value=dates[1], required)
				.invalid-feedback Please enter a valid start date.

			.col-lg
				label.form-label(for='booking-end') End Date
				input#booking-end.form-control(type='datetime-local', name='end_date', min=dates[1], value=dates[2], required)
				.invalid-feedback Please enter a valid end date.

		hr
		h6.mb-3 Items

		p#empty-text.text-muted.d-none There are no items selected.

		#item-list
			#booking-item-0.row(style={ 'display': 'none' })
				.col-lg.mb-3
					.input-group
						select#booking-item-0-index.form-select(name='item-0-index', required)
						button.btn.btn-danger(type='button'): i.bi.bi-trash
						.invalid-feedback Please select an item.

				.col.mb-3
					input#booking-item-0-amount.form-control(type='number', name='item-0-amount', required)
					.invalid-feedback Please enter a valid amount.

				.col.mb-3
					input.form-control(type='number', readonly)

		#loading-icon.d-flex.justify-content-center
			.spinner-border.spinner-border-sm.mb-3(role='status')
				span.visually-hidden Loading...

		button#create-button.btn.btn-success.d-none(type='button'): i.bi.bi-plus

		hr

		p.text-danger.d-none Booking cannot be empty.

		button.btn.btn-primary(type='submit') Submit

		p.text-danger.mb-0.d-none Error!

block append scripts
	script(src='/js/booking.js')
