extends includes/layout.pug

block content
	
	h4 Item Details
	p.text-muted See item bookings and avaliability


	div(style="width:25%")
		form(action="/item_details",method="GET")
				select#item-list.form-select(name='item_id', required)
					each item in items
						option(value=item.id)=item.name
				button(type="submit",value="submit",style="margin-top:10px;margin-bottom:10px").btn.btn-primary Search

	.table-responsive
		table#item-table.table.table-bordered
			thead.table-dark
				tr
					th Name
					th Start Time
					th End Time
					th Quantity
					if (isAuth)
						th View Booking


					

			tbody(style="vertical-align : middle;text-align:center;").vertical-align
				if (records != "-1")
					each record, index in records
						- let start_date = new Date(record.booking.start_date).toUTCString()
						- let end_date = new Date(record.booking.end_date).toUTCString()
						tr
							td=record.booking.name
							td=start_date
							td=end_date
							td=record.quantity
								if (isAuth)
									td 
										form(action="/report",method="GET")
											button(name="date", type="submit", value=record.booking.start_date).btn.btn-secondary Booking
					