extends includes/layout.pug

block content
	h4 Item Details
	p.text-muted Preview an item's avaliability.

	form(action='/item_details', method='GET')
		.row
			.col.col-lg-6.mb-3
				.input-group
					select.form-select(name='item_id')
						each category in categories
							optgroup(label=category)
								each item in items.filter(item => item.category === category)
									option(value=item.id, selected=item.id == item_id)=item.name

					button.btn.btn-primary(type='submit') Search

	.table-responsive
		table.table.table-striped.text-nowrap
			thead.table-dark
				tr
					if user !== undefined
						th(scope='col') Name
					th(scope='col') Start Time
					th(scope='col') End Time
					th(scope='col') Quantity
					if user !== undefined
						th(scope='col')

			tbody
				each record in records
					- const start_date = record.booking.start_date.toLocaleString(undefined, { dateStyle: 'medium', timeStyle: 'short' });
					- const end_date = record.booking.end_date.toLocaleString(undefined, { dateStyle: 'medium', timeStyle: 'short' });

					tr
						if user !== undefined
							td=record.booking.name
						td=start_date
						td=end_date
						td=record.quantity
						if user !== undefined
							td(style={ 'width': 0 })
								a.link-dark(href='/report?date=' + record.booking.linkDate, target='_blank', role='button', aria-label='Preview Booking', data-record-id=record.id): i.bi.bi-box-arrow-up-right
