extends includes/layout.pug

block content
	h4 Daily Report
	p.text-muted Preview bookings for a specific day.

	form(action='/report', method='GET')
		.row
			.col.col-lg-6.mb-3
				.input-group
					input(name='date', type='date', value=date).form-control
					button.btn.btn-primary(type='submit') Search

	.table-responsive
		table.table.table-bordered
			thead.table-dark
				tr
					th(scope='col') Name
					th(scope='col') Start Time
					th(scope='col') End Time
					th(scope='col') Item Name
					th(scope='col') Quantity
					th(scope='col') Comment
					th(scope='col')

			tbody
				each booking in bookings
					- const start_date = booking.start_date.toLocaleString(undefined, { dateStyle: 'medium', timeStyle: 'short' });
					- const end_date = booking.end_date.toLocaleString(undefined, { dateStyle: 'medium', timeStyle: 'short' });

					each item, index in booking.items
						tr.align-middle
							if index === 0
								td(rowspan=booking.items.length)=booking.name
								td(rowspan=booking.items.length)=start_date
								td(rowspan=booking.items.length)=end_date

							td=item.name
							td=item.booking_item.quantity

							if index === 0
								td(rowspan=booking.items.length)=booking.comment
								td(style={ 'width': 0 }, rowspan=booking.items.length)
									a.link-dark(href='about:blank', role='button', aria-label='Delete Booking', data-record-id=booking.id): i.bi.bi-trash

block append scripts
	script(src='/js/report.js')
